footer {
      background-color: plum;
      padding: 25px; }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px; }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; }
 img.img3 {  width:100%; 
             height:350px; }
        
        img.img4 { width:100%;
            height: 350px; }
